.buyContainer{
  color: #6b8665;
  margin: 13px 10px 20px 10px;
}

.itemTitle {
  font-family: Helvetica;
  font-weight: bold;
  text-align: left;
  color: #444;
}

.sellerItemInfo {
  background: #c4f4f2;
  text-align: left;
  padding: 10px 0px 0px 10px;
}

.imageContainer {
  padding: 10px;
  background: #c4f4f2;
  max-height: 100%;
  max-width: 100%;
}

.sellerImg {
  display: block;
}

