.sellerImageCrop {
  margin-bottom: 10px
}

.buyContainer{
  color: #6b8665;
  margin: 13px 10px 20px 10px;
}

.itemTitle {
  font-family: Helvetica;
  font-weight: bold;
  background: #c4f4f2;
  text-align: left;
}

.sellerItemInfo {
  background: #c4f4f2;
  text-align: left;
  padding: 10px 0px 0px 10px;
}

.imageContainer {
  height: 250px;
  padding: 10px;
  background: #c4f4f2;
}

.sellerImg {
  position: absolute;
  display: block;
  clip: rect(0px,260px,230px,0px);
}

