.buyContainer{
  color: #6b8665;
  font-family: Helvetica;
  margin: 13px 10px 10px 10px;
}

.buyImg {
  max-width: auto;
  max-height: auto;
  border: 10px solid #c4f4f2;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.face {
  position: relative;
  max-width: 100%;
  max-height: 100%;

  backface-visibility: hidden;
}

.face.back {
  background-color: #c4f4f2;
  position: absolute;
  padding: 20px;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
}

.flip {
  transform: rotateY(180deg);

  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.flipback {
  transform: rotateY(0deg);

  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.itemInfo {
  margin-top: 15px;
  text-align: center;
  color: #454545;
}

.itemInfo span{
  font-size: 1.4em;
  color: #454545;
}

.price{
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
  color: #454545;
}

.swipeButtonLeft, .swipeButtonRight {
  font-size: 8em;
  color: #fff;
  border-radius: 50%;
  padding: 0 10px;
  border: 10px solid #6FC6C3;
}

.swipeButtonLeft {
  float: left;
  color: #f7e6e4;
  background: #ea6060;
}

.swipeButtonRight {
  float: right;
  color: #e3ffee;
  background: #86d127;
}

.confirmHeading {
  font-size: 4em;
  line-height: 0.7em;
  font-family: 'Damion', cursive;
  color: #fff;
  text-align: center;
}

/* buy-transaction */
form.transaction input {
  background-color:rgba(255,255,255,0.3);
  width: 95%;
  border-radius: 5px;
}

.list {
  margin: 15px 0px;
}

.item {
  border: 0px;
}

button.transaction {
  width: 90%;
  margin: 30px auto !important;
  background-color: #ccd941 !important;
  color: #454545 !important;
}